body{
	background-color: ;
}
figcaption{
	border: 10px dotted  green;
	
	width: 500px;
}
.a{
	display: inline-block;
}
p{
	font-family: georgia;
	color: black;
	text-align: middle;
}
img{
	border: 2px dotted green;
}
.org{
	font-size: 30px;
	text-align: center;

	font-family:aerial;
}
footer{
	text-align: center;
	
}
iframe{
    display: inline-flex
}
@import url('https://fonts.googleapis.com/css?family=Almendra+SC');
h1{
    font-family: "Almendra SC", serif;
    font-style: italic;
    text-align: center;
    font-size: 35px;
    color: rgba(2, 0, 117, 0.87);
    background-color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}